<!DOCTYPE html>
<html>
    <head>
        <title>Ay caramba! - Zombies Rising</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
        <script type="text/javascript" src="/assets/lib/quintus.js"></script>
        <script type="text/javascript" src='/assets/lib/quintus_sprites.js'></script>
        <script type="text/javascript" src='/assets/lib/quintus_scenes.js'></script>
        <script type="text/javascript" src='/assets/lib/quintus_input.js'></script>
        <script type="text/javascript" src='/assets/lib/quintus_anim.js'></script>
        <script type="text/javascript" src='/assets/lib/quintus_2d.js'></script>
        <script type="text/javascript" src='/assets/lib/quintus_touch.js'></script>
        <script type="text/javascript" src='/assets/lib/quintus_ui.js'></script>   
        <script type="text/javascript" src='/assets/lib/quintus_audio.js'></script>  
        <script type="text/javascript" src='/assets/javascript/zombies-enemies.js'></script>
        <script type="text/javascript" src='/assets/javascript/zombies-gui.js'></script>
        <script type="text/javascript" src='/assets/javascript/zombies-plants.js'></script>
        <script type="text/javascript" src='/assets/javascript/zombies-gameplay.js'></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/assets/styles/style.css">
        <link rel="stylesheet" type="text/css" href="/assets/styles/normalize.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">{{{body}}}</div>
            </div>
        </div>
    </body>
</html>
