<div class="row">
	<div class="col-md-4"></div>
    <div class="col-md-4" id="sign_in">
		<div class="row siginInHdr">
    		<div class="col-md-4"><img src="/assets/images/logo.png" alt="Zombies Rising"></div>
    		<div class="col-md-4"></div>
    		<div class="col-md-4"></div>
		</div><br /><br />
	    <a href="/game" class="btn btn-default  btn-lg btn-block">Play Zombies Rising</a><br /><br />
	    <a href="/users" class="btn btn-default  btn-lg btn-block">User Information</a><br /><br />
	    <a href="/users" class="btn btn-default  btn-lg btn-block">Level Creator</a><br /><br />
	    <a href="/users" class="btn btn-default  btn-lg btn-block">Character Creator</a><br /><br />
	    <a href="/users/sign-out" class="btn btn-danger  btn-lg btn-block">Sign Out</a><br /><br />
    </div>
    <div class="col-md-4"></div>
</div>