<div class="container siginInHdr">
  <div class="row">
    <div class="col-md-12"><a href="/admin"><img src="/assets/images/logo.png" alt="Zombies Rising"></a></div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <a href="/game" class="btn btn-success  btn-lg btn-block">Play Zombies Rising</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <a href="/heroes" class="btn btn-info  btn-lg btn-block">Heroes Editor</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <a href="/enemies" class="btn btn-info  btn-lg btn-block">Enemies Editor</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <a href="/users/sign-out" class="btn btn-danger  btn-lg btn-block">Sign Out</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
</div>