<script src="/assets/javascript/startGame.js"></script>
<audio loop="loop" autoplay="autoplay">
  	<source src="/assets/audio/ZombiesOnYourLawn.mp3" type="audio/mpeg">
	Your browser does not support the audio element.
</audio>
<div id="warning-message">
    This game is only playable in landscape mode.<br>Please adjust your screen size and refresh the game.
</div>