<div class="row">
	<div class="col-md-4"></div>
    <div class="col-md-4" id="sign_in">
		<div class="row siginInHdr">
    		<div class="col-md-4"><img src="/assets/images/logo.png" alt="Zombies Rising"></div>
    		<div class="col-md-4"></div>
    		<div class="col-md-4"></div>
		</div><br /><br />
	    <a href="/game"><button class="btn btn-primary btn-lg btn-block">Play Zombies Rising</button></a><br /><br />
	    <button class="btn btn-disabled btn-lg btn-block">Account Information</button><br /><br />
	    <a href="/users/sign-out"><button class="btn btn-danger btn-lg btn-block">Sign Out</button></a><br /><br />
    </div>
    <div class="col-md-4"></div>
</div>