{{#unless logged_in}}
	<div class="row">
		<div class="col-md-4"></div>
	    <div class="col-md-4" id="sign_in">
	    	<div class="row siginInHdr">
	    		<div class="col-md-4"><img src="/assets/images/logo.png" alt="Zombies Rising"></div>
	    		<div class="col-md-4"></div>
	    		<div class="col-md-4"></div>
	    	</div>
		    
		    <form class="form center-block" action="/users/login" method="POST">
		        <div class="form-group">
		        </div>
		        <div class="form-group">
		          <input type="text" class="form-control input-lg" placeholder="Email" name="email">
		        </div>
		        <div class="form-group">
		          <input type="password" class="form-control input-lg" placeholder="Password" name="password">
		        </div>
		        <div class="form-group">
		          <button class="btn btn-primary btn-lg btn-block">Sign In</button>
		        </div>
		    </form>
		    <p class="blkText">
		        Not already on Zombies Rising? <a href="#" id="register_btn">Register Now</a>.
		    </p>
	    </div>
	    <div class="col-md-4"></div>
	</div>
	<div class="row">
	    <div class="col-md-4"></div>
	    <div class="col-md-4" id="register">
		    <div class="row siginInHdr">
	    		<div class="col-md-4"><img src="/assets/images/logo.png" alt="Zombies Rising"></div>
	    		<div class="col-md-4"></div>
	    		<div class="col-md-4"></div>
	    	</div>
		    
		    <form class="form center-block" action="/users/create" method="POST">
		        <div class="form-group">
		        </div>
		        <div class="form-group">
		          <input type="text" class="form-control input-lg" placeholder="User Name" name="username">
		        </div>
		        <div class="form-group">
		          <input type="text" class="form-control input-lg" placeholder="Name" name="name">
		        </div>
		        <div class="form-group">
		          <input type="text" class="form-control input-lg" placeholder="Email" name="emailAddress">
		        </div>
		        <div class="form-group">
		          <input type="password" class="form-control input-lg" placeholder="Password" name="password">
		        </div>
		        <div class="form-group">
		          <input type="hidden" value='user' class="form-control input-lg" placeholder="Role" name="role">
		        </div>
		        <div class="form-group">
		          <button class="btn btn-primary btn-lg btn-block">Register Now</button>
		        </div>
		    </form>
		    <p>
		        Already on Zombies Rising? <a href="#" id="signIn_btn">Sign In</a>.
		    </p>
	    </div>
	    <div class="col-md-4"></div>
	 </div>
{{/unless}}

{{#if logged_in}}
	<div class="row">
		<div class="col-md-4"></div>
	    <div class="col-md-4" id="sign_in">
			<div class="row siginInHdr">
	    		<div class="col-md-4"><img src="/assets/images/logo.png" alt="Zombies Rising"></div>
	    		<div class="col-md-4"></div>
	    		<div class="col-md-4"></div>
			</div><br /><br />
		    <a href="/game"><button class="btn btn-primary btn-lg btn-block">Play Zombies Rising</button></a><br /><br />
		    <button class="btn btn-disabled btn-lg btn-block">Account Information</button><br /><br />
	    <a href="/users/sign-out"><button class="btn btn-danger btn-lg btn-block">Sign Out</button></a><br /><br />
	    </div>
	    <div class="col-md-4"></div>
	</div>
{{/if}}