<div class="container">
  <script type="text/javascript" src="/assets/javascript/chat.js"></script>
  <script type="text/javascript" src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  
  <div class="row tableHeader">
    <div class="col-md-2">
      <a href="/admin"><img src="/assets/images/logo.png" alt="Zombies Rising"></a>
    </div>
    <div class="col-md-10">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="/game" class="whtNavText">Play Zombies Rising</a></li>
        <li role="presentation"><a href="/zombieSocial" class="whtNavText">Zombie Social</a></li>
        <li role="presentation"><a href="/heroes" class="whtNavText">Character Editor</a></li>

        {{#if isAdmin}}
          <li role="presentation"><a href="/users" class="whtNavText">Users Information</a></li>
        {{/if}}

        {{#unless logged_in}}
            <li role="presentation"><a href="/" class="whtNavText">Sign In</a></li>
        {{/unless}}

        {{#if logged_in}}
          <li role="presentation"><a href="/users/sign-out" class="whtNavText">Sign Out</a></li>
        {{/if}}
      </ul>
    </div>
  </div>

  <!-- Start zombieSocial Section -->
  <div class="row inventory tableDetails">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row inventory tableDetails">
    <div class="col-md-2">
      <div class="boxModule" id="yourUserInfo">
      </div>
      <div>&nbsp;</div>
      <div class="boxModule shareYourGame">
       <h4>Share Your Custom Game</h4>
        
      </div>
      <div>&nbsp;</div>
      <div class="boxModule" id="yourHeroes">
       <h4>Your Heroes</h4><br>
      </div>
      <div>&nbsp;</div>
      <div class="boxModule" id="yourEnemies">
       <h4>Your Enemies</h4><br>
      </div>
      <div>&nbsp;</div>
    </div>
    <div class="col-md-8">
      <div class="chatBoard">
        <input type='text' id='messageInput' class='boxModule' placeholder=" What's on your mind?">
        <div>&nbsp;</div>
        <div id='messagesDiv'></div>
      </div>
      <div>&nbsp;</div>
    </div>
    <div class="col-md-2">
      <div class="boxModule">
       <h4>Recommended Games</h4>
        <div id="yourFriends">
          {{#each users}}
            <h5><b>{{userName}}</b></h5>
            <a href="http://zombiesrising.herokuapp.com/game/{{this.userId}}">Click Here</a> to play {{userName}} game.
          {{/each}}
        </div>
      </div>
      <div>&nbsp;</div>
      <div class="boxModule">
        <div>
          <div class="row">
            <div class="col-md-12">
                <a href="/game" class="btn btn-success  btn-lg btn-block">Zombies Rising</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">&nbsp;</div>
          </div>
            {{#if isAdmin}}
              <div class="row">
                <div class="col-md-12">
                    <a href="/users" class="btn btn-info  btn-lg btn-block">Users Information</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">&nbsp;</div>
              </div>
            {{/if}}
          <div class="row">
            <div class="col-md-12">
                <a href="/characters" class="btn btn-info  btn-lg btn-block">Character Editor</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">&nbsp;</div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <a class="btn btn-warning  btn-lg btn-block" data-toggle="modal" href="#help">How To Play</a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">&nbsp;</div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <a href="/users/sign-out" class="btn btn-danger  btn-lg btn-block">Sign Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row inventory tableDetails">
    <div class="col-md-12">&nbsp;</div>
  </div>

  <!-- Modal Help -->
  <div id="help" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title whtText">How To Play</h4>
        </div>
        <div class="modal-body">
        You play the part of a home-owner in the midst of a typical zombie apocalypse, but exaggerated to a cartoon fever pitch. Beyond the regular zombies, you'll face zombies roller skating, zombies on skateboards, bicyclist zombies, and many more. The undead starving hordes are on the march, but your back yard is standing in the way. By placing various types of characters, you must raise an army of warrior misfits that can defend your brains from the imminent devouring.<br><br>

        <strong>In game-play terms</strong>, you have six lanes to defend against the zombies, who enter on the right side of the screen and lurch slowly towards your home on the left. You select character types from your arsenal on the left and then place them strategically on the lawn where they can fire on the approaching undead, who will fight back by munching on anything in arm's reach. You will gradually unlock a wide variety of characters. Most of them act as stationary guns, periodically shooting peas. Some protect the others, like the lovable Barney, some explode, like Marge, and some serve more specific purposes. Certain characters are effective against certain zombies, and vice versa.<br><br>

        Each character costs a certain amount of donuts to create. Actual donuts will fall periodically to the earth, and you must click on them to add to your supply. Homer will be your staple crop, providing another source of donuts that can be used to power the rest of your army. Watching for and collecting donuts occupies your time between placing new characters.<br><br>

        <strong>Customize Game</strong><br>
        Did you ever want to customize your own game? You have the ability to customize every character in your game from the speed they move to what they look like. You can even share your custom game with your friends. When you log in simply click the button "Character Editor", from there choose if you want to modify the heroes or the enemies. After your choice is made simply click on the edit icon in the characters row. Make your changes and click update. Your game will now reflect the new character changes the next time you play.<br><br>

        Please feel free to contact us any time if you have questions on our chat board.
        </div>
        <div class="modal-footer">&nbsp;
          <button type="button" class="close" data-dismiss="modal">&times;</button></div>
      </div>
    </div>
  </div>
</div>