/* Space out content a bit */
#quintus{
}
html, body {
	background-image: url('/assets/images/background_side.png');
	background-color: black;
	padding: 0; margin: 0;
}
.errorMessage{
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #ff0000;
  font-size: 18px;
}
.container{
  width: 100%;
  border: 8px solid green;
}
.modal-dialog{
  border: 8px solid #FCDC00;
}
canvas {
  border-right: 8px solid green;
}
.sidePanel {
  border: 1px solid green;
}

#sign_in{
  margin-top: 10px;
  color: #438EB9;
  background-color: white;
}
#register{
  margin-top: 10px;
  color: #438EB9;
  background-color: white;
}
.whtText{
  color: #ffffff;
}
.modal-header{
  background-color: #000000;
}
.modal-footer{
  background-color: #000000;
}
.siginInHdr{
  background-color: #000000;
}

/*Admin styles*/
.tableDetails{
  background-color: #ffffff;
}
.tableHeader{
  background-color: #000000;
}
.whtNavText{
  color: #ffffff;
}

/*loading bar*/

#loading {
  color: #000000;
  margin: 10px auto;
  position:fixed;
  width:100%;
  height:100%;
  text-align:center;
}

#loading_container {
  position:relative;
  margin:0 auto;
  width:50%;
  height:32px;
  border:1px solid #000000;
  text-align:center;
  padding-top:5px;
}

#loading_progress {
  width:0%;
  background-color: #9FCE0E;
  position:absolute;
  height:30px;
  top:0px;
  left:0px;
  opacity:0.4;
}
/*@media only screen and (min-device-width: 268px) and (max-device-width: 768px) and (orientation:portrait) { 
  body {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}*/