/* Space out content a bit */
#quintus{
}
html, body {
	background-image: url('/assets/images/background_side.png');
	background-color: black;
	padding: 0; margin: 0;
	overflow: hidden;
}
canvas {
    border-right: 8px solid green;
}
.sidePanel {
    border: 1px solid green;
}